/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #1c5380;
}

h1 {
  color: #06365f;
  font-size: 1.2em;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-between;
  margin: 5vh;
  border: solid pink;
}

#phone-box {
  border: solid red;
  width: 40%;
  display: flex;
  justify-content: center;
}

#info-box-right {
  width: 50%;
  border: solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 800px) {
  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid pink;
  }
}

.nav-bar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid green;
}

.nav-bar-top > img {
  width: 60%;
  height: auto;
}

.login-button {
  display: flex;
  width: 20%;
  padding: 2%;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1.4em;
  background-color: #1c5380;
  border: solid black;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#text-box {
  text-align: center;
  background-color: white;
  font-size: 1.4em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#text-box > p {
  font-size: 0.8em;
  padding-left: 4%;
  padding-right: 4%;
}

#text-box > img {
  position: relative;
  left: 5%;
  margin: 2%;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  position: relative;
  background-color: white;
}

.nav-bar-footer {
  width: 50%;
  left: 20%;
  margin-top: 2%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8em;
  font-weight: bold;
  color: #1c5380;
  margin-bottom: 2%;
}

footer > p {
  font-size: 0.9em;
  color: grey;
  position: relative;
  right: 6%;
}
